/* start */
body > div:nth-child(1) {
    background-color: dodgerblue;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem 0 .5rem;

} 
div > div {
    /* border: solid 1px; */
}
div > div:nth-child(1) {
    font-size: 2rem;
}
body > div:nth-child(2) {
    font-family: sans-serif;
    justify-content: space-between;

}
body > div:nth-child(2) > div:nth-child(2) {
    margin: 0 33% 0 33%;
    border: solid 1px black;
}
.formclass0 {
    padding: 20px;
    display: flex;
    justify-content: center;

}
.formclass1 {
    padding: 20px;
    display: flex;
    justify-content: center;

}
.innerformelements {
    margin: 1rem;
}
input,select {
    margin-left: 20px;
}
.bottomBoxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.insideBottomElements {
    border-radius: 20px;
    border: solid 1px black;
    height: 100px;
    width: calc(100%/3 - 4rem);
    margin: 1rem;
}
.long {
    height: 150px;;
}
.submitButtons {
    border-radius:0px;
    height: 25px;
    width: 60px;
}
.buttonDiv {
    display: flex;
    justify-content: center;
}